<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin context-root="ecam" embedded="true"
    id="com.ibm.ws.console.perf.pmi.ecam" name="IBM Tivoli Composite Application Manager for WebSphere Application Server"
    vendor-name="IBM Corp. - WebSphere Server Group" version="1.0.0">
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true"/>
    </extension>
</plugin>


